@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.dom-element {
    position: relative;
}

.dom-element p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* ANCHORED */
.dom-element .anchored {
    position: absolute;
    left: 0;
    top: 0;
}

/* LAYER */
.dom-element .dom-layer {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Applies the the layer's children */
.dom-element .dom-layer * { 
    pointer-events: auto;
}