@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.df {
    position: relative;
    display: inline-block;
}

div.df {
    display: block;
}

.df.flex {
    display: flex;
}

p.df {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* ANCHORED */
.df.anchored {
    position: absolute;
    left: 0;
    top: 0;
}

/* LAYER */
.df.layer {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Applies the the layer's children */
.df.layer * { 
    pointer-events: auto;
}